@page
@model Project.Pages.MotocycleModel
@{
}
 
<h1>Свойства ТС</h1>
<p>ID_CAR: @Model.Motocycle.Id</p>
<p>BrandCar: @Model.Motocycle.BrandMotocycle</p>
<p>Model: @Model.Motocycle.Model</p>
<p>EngineCar: @Model.Motocycle.EngineMotocycle</p>